CMakeLists.txt.user
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/Monocular/mono_ipWebcam
Examples/RGB-D/rgbd_tum
Examples/ROS/ORB_SLAM2/CMakeLists.txt.user
Examples/ROS/ORB_SLAM2/Mono
Examples/ROS/ORB_SLAM2/MonoAR
Examples/ROS/ORB_SLAM2/RGBD
Examples/ROS/ORB_SLAM2/Stereo
Examples/ROS/ORB_SLAM2/build/
Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
KeyFrameTrajectory.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/
*~
lib/

/cmake-build-debug/
testing/cmake-build-debug
.idea/
/calib/venv/
/Examples/Monocular/mono_video
/scripts/CameraTrajectory.txt
/scripts/StereoKitti_map_pts_and_keyframes.txt
/scripts/stereoKitti_map_pts_out.obj
/gridmapper/grid_map_StereoKitti_filtered_0_scale_3_resize_5_0.50_0.55.pgm
/gridmapper/StereoKitti_filtered_0_scale_3_occupied_counter.txt
/gridmapper/StereoKitti_filtered_0_scale_3_visit_counter.txt
/gridmapper/grid_map_StereoKitti_filtered_0_scale_3_resize_50_0.50_0.55.pgm
/gridmapper/grid_map_StereoKitti_filtered_0_scale_3_resize_1_0.50_0.55.pgm

/scripts/stKi_CameraTrajectory_red.txt
/scripts/stKi_map_pts_and_keyframes_red.txt
/scripts/stKi_map_pts_out_red.obj!/
.idea/
/gridmapper/src/gridmapper

/gridmapper/trajectories/stereo_kitti_traj_Quaternions_03red.txt
/Vocabulary/ORBvoc.bin
/gridmapper/trajectories/stereo_kitti_traj_Quaternions_03red.txt

/Vocabulary/

/gridmapper/trajectories/stereo_kitti_traj_Quaternions.txt
/gridmapper/maps/GridMap_stereoKITTI_03red.pgm

/gridmapper/maps/stereo_kitti_gm_from_binary.pgm

/gridmapper/maps/stereo_kitti_gm_from_binary_03red.pgm
/Vocabulary/bin_vocabulary
/gridmapper/maps/
/gridmapper/src/test_pcd.pcd
/Vocabulary/bin_vocabulary
/gridmapper/point_clouds/filtered_test_pcd.pcd
/gridmapper/point_clouds/test_pcd.pcd
/gridmapper/point_clouds/elevation_map.bag
/gridmapper/point_clouds/filtered_pc_stereo07.pcd
/gridmapper/point_clouds/
/Examples/Stereo/ros_stereo_kitti
/cmake-build-release/

/Examples/Stereo/arducam_images
/Examples/Stereo/arducam_stereo
/scripts/map.bin

# /video_capture/
